<!DOCTYPE html>
<html lang="es">

    <head>

        <%- include('./partials/head') %>
        
    </head>

    <body>

        <main id='main'>

            <section id='cartsSection'>
                <a class='cartsLink' href='/api/carrito/carritos'>Ver carritos</a>
            </section>
            
            <%- include('./partials/form') %>

            <%- include('./partials/cards') %>

        </main>

        <script src="/js/main.js"></script>

    </body>
    
</html>